body {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

nav {
  height: 80px;
  background: #e2c48c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}
.logo {
  color: #555064;
  font-size: 1.5rem;
  font-weight: bold;
  font-size: italic;
  padding: 0 2rem;
  margin-left: -30px;
}
nav a {
  text-decoration: none;
  color: #555064;
  padding: 0 1.5rem;
  justify-content: right;
}
nav a:hover {
  color: #fdcc04;
}

.hero {
  background: #555064;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98vw;
}

.image-container img {
  max-width: 100%;
  height: auto;
}
.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  padding: 0rem 2rem;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}
.column-left p {
  font-size: 2rem;
  line-height: 1.5;
  margin: -100px;
}

.button {
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #555064;
  background: #e2c48c;
  cursor: pointer;
  border-radius: 50px;
  position: absolute;
  left: 23%;
  bottom: 2%;
  text-decoration: none;
}
.button:hover {
  background: #fff;
  color: #fdcc04;
}
.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20% 1rem;
}

.hero-video {
  width: 633px;
  height: 595px;
  display: grid;
  margin-top: -1200px;
}
@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}
